.employee-homepage-grid-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "nav nav nav"
      "reimbursement-display reimbursement-display reimbursement-submit-form"
      "reimbursement-display reimbursement-display reimbursement-submit-form"; 
      background-color: #11bfa5b8;
      height: 750px;
  }

  .reimbursement-submit-form { 
      grid-area: reimbursement-submit-form;
    }
    
    .reimbursement-submit-form div {
        margin-top: 30px;
    }

  .nav { 
      grid-area: nav; 
    }


  .reimbursement-display { 
      grid-area: reimbursement-display; 
      
      color: black;
    }

    #reimbursement-table {
        margin: 0;
        padding: 0;

    }

    table, th, td{
        width: 800px;
        margin: auto;
        font-size: 10px;
        padding: 20px;
        text-align: center;
        border: 2px solid black;

    }

    #title {
        font-size: 30px;
        padding: 50px;
    }


    #reimbursement-display {
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
       
    }

    #headers {
        font-size: 35px;
    }



