h1 {
    text-align: center;
}

label, input{
    display:block;
}

input { 
    margin:auto;
}

#login-info {
    text-align:center;
    margin-top: 100px;
    display: block;

}

#login-info a {
    display: block;
    margin-top: 4rem;
}

#username {
    margin: auto;
}

#password {
    margin: auto;
}

p{
    text-align:center;
    padding: 100px;
}



